* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  border: 2px solid gray;
  padding: 20px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, .5);
}

.progress {
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: lightgray;
  overflow: hidden;
  transition: all .3s linear;
}

.progress span {
  display: block;
  width: 33.3%;
  height: 100%;
  background: green;
  transition: all .3s linear;
}

.header {
  text-align: center;
  margin: 5px;
}

.footer {
  display: flex;
  gap: 2px;
}

.footer button {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  background: transparent;
  transition: all .3s linear
}

.footer button:hover {
  background: lightgray;
  transition: all .3s linear
}

.body form {
  display: grid;
  gap: 5px;
}

form input {
  padding: 5px;
}